<div>
    <!--<div><span id="close" (click)="closePane()">X</span></div>-->
    <hr/>
    <!--<div id="close"><span (click)="onCloseClick()">X</span></div>-->
    <div id="nameDiv">
        <div id="markerName" *ngIf="markers"><h2  *ngFor="let marker of markers; let i = index" (click)="onItemClick(marker, i)"><img class="img-valign" src="{{marker.icon}}"/> {{marker.name}}</h2></div>
    </div>
</div>  