<h1>
    {{title}}
</h1>

<div class="map-container" [ngSwitch]="activePane">
  <div class="component" class="searchPane"><app-address-search></app-address-search></div>
  <div class="component" id="resultPane" *ngSwitchCase="1"><app-address-search-results [markers]="returnedMarkers" (activePane)="toggleComponets($event)" (clickedMarker)="clickedMarker($event.event, $event.index)"></app-address-search-results></div>
  <div class="component" id="detailsPane" *ngSwitchCase="2"><app-marker-details [selectedMarker]="selectedMarker" (activePane)="toggleComponets($event)" [destination]="destination" (directions)="getDirections($event)"></app-marker-details></div>
</div>
  <sebm-google-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom">
        <sebm-google-map-marker 
            *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [iconUrl]="m.icon"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            [fitBounds]="bounds"
            (dragEnd)="markerDragEnd(m, $event)">         
          <!--<sebm-google-map-info-window>
            <strong>InfoWindow content</strong>
          </sebm-google-map-info-window>        -->
        </sebm-google-map-marker>
        <sebm-map-polygon [paths]="paths" [fillColor]="fillColor" [strokeColor]="strokeColor" [strokeOpacity]="strokeOpacity" [strokeWeight]="strokeWeight" [fillOpacity]="fillOpacity"></sebm-map-polygon>
        <div [ngSwitch]="showDirections"><sebm-google-map-directions *ngSwitchCase="true" [origin]="origin" [destination]="destination"></sebm-google-map-directions></div>
  </sebm-google-map>
