.sebm-google-map-container {
   height:950px ;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container{
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
    top:12%;
    position: absolute;
    left: 1%;
    z-index: 9;
    background-color: white;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding: 8px;
    border:none;
    min-width: 550px;
}

.component{
     display: block;
     clear: left;
     float: left;
}

#address{
        width: 98%;
        height: 35px;
        font-size: 18px;
        border:none;
        padding-left:5px; 
}

#resultPane{
    text-align: left;
    width: 100%;
    background-color: white;
}

#detailsPane{
    text-align: left;
    width: 100%;
    background-color: white;
}

.searchPane{
    width: 100%;
    margin-top:10px;
    background-color: red;
}

#close{
    float: right;
    color: gray;
}

#close:hover{
        cursor: pointer;
}

#nameDiv{
    margin-top:20px;
}

#detailsDiv{
    margin-top:10px;
    margin-left:25px;
    height: 350px;
}

#markerIcon{
    float:left;
}

#markerName{
    float:left;
    margin-left:10px; 
}

hr{
    color: lightslategrey;
}

h2:hover{
    cursor:pointer;
}

.img-valign {
  vertical-align: top;
  margin-bottom: 0.75em;
}

#streetViewDiv{  
    margin-bottom: 10px;
}



#close span{
    float:right;
}