<div>
    <hr/>
    <div id="close"><span (click)="onCloseClick()">X</span></div>
    <div id="detailsDiv">
        <div><h2><img class="img-valign" src="{{selectedMarker.icon}}"/> {{ selectedMarker.name }}</h2></div>
    </div>
     <div id="streetViewDiv">
        <div><img class="img-valign" src="{{selectedMarker.streetViewImage}}"/></div>
    </div>
     <div>
        <a href="javascript:void(0);" id="directionLink" (click)="drawDirections()">Get Directions</a>
    </div>
</div>